.dashboard h1 {
  padding: 0;
  color: var(--font-color);
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  margin-left: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.dashboard h2 {
  color: var(--font-color);
  font-family: "Inter", sans-serif;
  text-align: left;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 1em;
  font-size: 1.2em;
  color: var(--font-color-two);
  font-weight: 400;
}

h3 {
  font-family: "Inter", sans-serif;
  font-size: 1.3em;
  font-weight: 600;
}

.card h3 {
  margin-top: 0;
  text-transform: uppercase; /* Convert text to uppercase */
  font-size: 1em; /* Adjust the font size as needed */
  font-family: "Jost", sans-serif;
}

.state-of-charge h3 {
  color: #badfe7;
}

h4 {
  margin-top: 0.5em;
  margin-bottom: 0;
  font-family: "Jost", sans-serif;
  font-size: 1em;
  font-weight: 700;
}

/* .bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #d4f7d5, #b2ebf7);
  opacity: 0.4;
  filter: blur(80px);
  border-radius: 60%;
} */

.bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  /* background: #f3f3e8; */
}

.battery-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column; /* Stack the items vertically */
  align-items: flex-start; /* Align items to the start (left) */
}

.battery-info h3 {
  margin-bottom: 5px;
  margin-left: 20px;
  font-size: 1.7em;
  font-weight: 600;
  text-align: left;
}

.battery-info p {
  margin-bottom: 0px;
  font-size: 1em;
  margin-top: 0;
  color: rgb(75, 75, 75);
}

.card p {
  font-size: 15px;
}

.dashboard p {
  text-align: left;
  margin-left: 20px;
}

.dashboard {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

/* .card:last-child {
  margin-right: 0;
} */

.card:nth-child(1) {
  border-top: 6px solid var(--card-border-color-two);
}

.card:nth-child(2) {
  border-top: 6px solid var(--card-border-color-two);
}

.card:nth-child(3) {
  border-top: 6px solid var(--card-border-color-two);
}

.card:nth-child(4) {
  border-top: 6px solid var(--card-border-color-two);
}

.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  margin: 0 20px 20px 20px;
  text-align: center;
  max-width: 285px;
}

.progress-bar {
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
  font-weight: 500;
  color: var(--font-color);
}

.progress-bar svg {
  width: 150px;
  height: 150px;
}

.add-battery-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 8px 16px; /* Adjust padding */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px; /* Adjust font size */
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-battery-button:hover {
  background-color: #45a049; /* Darker Green */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: #ffffff;
  padding: 15px; /* Reduce padding */
  border-radius: 8px;
  max-width: 320px; /* Reduce max-width */
  width: 80%;
  position: relative;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); /* Reduce box shadow */
  font-family: "Inter", sans-serif; /* Use the other font */
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
  color: #888;
  transition: color 0.3s ease;
}

.close:hover {
  color: #333;
}

.modal h2 {
  color: var(--font-color);
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
}
.modal label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
}

.modal input {
  width: 80%;
  padding: 8px; /* Reduce padding */
  margin-bottom: 12px; /* Reduce margin */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px; /* Reduce font size */
}

.modal button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 8px 20px; /* Adjust padding */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px; /* Reduce font size */
  border-radius: 40px; /* Same radius as the other button */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add transition effect */
}

.modal button:hover {
  background-color: #45a049; /* Darker Green */
}

.card {
  position: relative; /* Make sure the card is positioned */
  padding-top: 20px; /* Adjust as needed */
}

.info-tag {
  display: none;
  position: absolute;
  opacity: 85%;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #2a2a2a;
  color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 300px;
  z-index: 1000; /* Ensure it appears above other content */
  font-family: "Jost", sans-serif; /* Adjust font family as needed */
}

.info-tag p {
  margin: 0;
  font-size: 12px;
}

.info-icon {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 15px;
  cursor: pointer;
  color: #666; /* Adjust icon color */
}

.info-tag::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 87.5%;
  transform: translateX(-50%);
  border-width: 8px;
  border-style: solid;
  border-color: #4e4e4e transparent transparent transparent;
}
.info-icon:hover + .info-tag {
  display: block;
}

/* .info-tag p {
  font-size: 14px;
  padding: 10px;
  margin: 0;
}

.info-tag {
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
  margin-left: 15px;
  max-width: 300px;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info-tag::before {
  content: "";
  position: absolute;
  top: -10px;
  left: calc(50% - 10px);
  border-width: 0 10px 10px;
  border-style: solid;
  border-color: #ddd transparent;
}

.info-icon {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 15px;
  cursor: pointer;
} */

.card {
  position: relative;
  padding-top: 20px;
}

@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
    margin-bottom: 30px;
  }
}
