.dashboard h1 {
  padding: 0;
  color: var(--font-color);
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  margin-left: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.dashboard h2 {
  color: var(--font-color);
  font-family: "Inter", sans-serif;
  text-align: left;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 1em;
  font-size: 1.2em;
  color: var(--font-color-two);
  font-weight: 400;
}

.dashboard-text {
  font-size: 18px;
  color: #333;
}

h3 {
  font-family: "Inter", sans-serif;
  font-size: 1.3em;
  font-weight: 600;
}

.card h3 {
  margin-top: 0;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.state-of-charge h3 {
  color: #badfe7;
}

h4 {
  margin-bottom: 0;
  font-family: "Jost", sans-serif;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 700;
  color: var(--charge-fonts);
}

.battery-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.battery-info h3 {
  margin-bottom: 5px;
  margin-left: 20px;
  font-size: 1.7em;
  font-weight: 600;
  text-align: left;
}

.battery-info p {
  margin-bottom: 0px;
  font-size: 1.1em;
  margin-top: 0;
  color: rgb(75, 75, 75);
}

.button-container {
  display: flex;
  align-items: center;
}

.button-container .add-battery-button {
  margin-left: auto;
}

.card p {
  font-size: 15px;
  padding: 0;
  margin: 3px;
}

.dashboard p {
  text-align: left;
  margin-left: 20px;
}

.dashboard {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card:nth-child(1) {
  border-top: 6px solid var(--card-border-color-two);
}

.card:nth-child(2) {
  border-top: 6px solid var(--card-border-color-two);
}

.card:nth-child(3) {
  border-top: 6px solid var(--card-border-color-two);
}

.card:nth-child(4) {
  border-top: 6px solid var(--card-border-color-two);
}

.card:nth-child(5) {
  border-top: 6px solid var(--card-border-color-two);
}

.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background: #ffffff;
  /* padding: 15px; */
  border-radius: 6px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  margin: 0 18px 18px 18px;
  text-align: center;
  max-height: 285px;
  /* max-width: 285px; */
}

.progress-bar {
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
  font-weight: 500;
  color: var(--font-color);
}

.progress-bar svg {
  width: 140px;
  height: 140px;
}

.add-battery-button {
  background-color: var(--add-battery-button);
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Jost", sans-serif;
}

.measurements-button {
  margin-left: auto;
  border: 2px solid var(--measurements-button-outline);
  color: var(--measurements-button-outline);
  background-color: white;
  font-weight: 600;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 40px;
  cursor: pointer;
  font-family: "Jost", sans-serif;
}

.measurements-button:hover {
  background-color: var(--add-battery-button);
  color: white;
}

.plus-icon {
  margin-right: 10px;
  font-size: 14px;
}

.add-battery-button:hover {
  background-color: var(--add-battery-button-hover);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  max-width: 320px;
  width: 80%;
  position: relative;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  font-family: "Inter", sans-serif;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
  color: #888;
  transition: color 0.3s ease;
}

.close:hover {
  color: #333;
}

.modal h2 {
  color: var(--font-color);
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
}
.modal label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
}

.modal input {
  width: 80%;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.modal button {
  background-color: var(--add-battery-button);
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal button:hover {
  background-color: var(--add-battery-button-hover);
}

.card {
  position: relative;
  padding-top: 20px;
}

.info-tag {
  display: none;
  position: absolute;
  opacity: 85%;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #2a2a2a;
  color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 300px;
  z-index: 1000;
  font-family: "Jost", sans-serif;
}

.info-tag p {
  margin: 0;
  font-size: 12px;
}

.info-icon {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 15px;
  cursor: pointer;
  color: #666;
}

.info-tag::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 87.5%;
  transform: translateX(-50%);
  border-width: 8px;
  border-style: solid;
  border-color: #4e4e4e transparent transparent transparent;
}
.info-icon:hover + .info-tag {
  display: block;
}

.card {
  position: relative;
  padding-top: 20px;
}

.progress-bar-state-of-charge .CircularProgressbar-path {
  stroke: var(--state-of-charge-progress-bar);
}

.progress-bar-state-of-charge .CircularProgressbar-text {
  font-size: 18px;
  font-weight: 600;
}

.card .metric-value {
  font-size: 30px;
  font-weight: 500;
  color: rgb(51, 51, 51);
  margin: 0;
  padding: 0;
  margin-bottom: 19px;
  font-weight: 600;
  margin: 3px;
  text-shadow: 1px 1px 2px rgba(199, 189, 189, 0.5);
}

.metric .temperature-icon {
  font-size: 72px;
  color: var(--temperature-icon);
}

.metric {
  margin-bottom: 5px;
}

.metric h4 {
  margin: 0;
}

.progress-bar-soh {
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.progress-bar-soh .CircularProgressbar-path {
  stroke: var(--state-of-health-progress-bar);
}

.progress-bar-soh .CircularProgressbar-text {
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
    margin-bottom: 30px;
  }
}
