body {
  font-family: "Jost", sans-serif;
  color: var(--font-color);
}

h1,
h2 {
  padding: 0;
  color: var(--font-color);
  font-family: "Inter", sans-serif;
  font-size: 1.8em;
  font-weight: 700;
}

/* Landing Image */
.landing-image {
  width: 100%;
  height: 75vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
}

.landing-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  transition: transform 0.5s ease-in-out; /* Simple transition */
}

.landing-image img:hover {
  opacity: 1; /* Fully visible on hover */
}

.landing-image .image-text {
  font-family: "Inter", sans-serif;
  position: absolute;
  top: 3.5em; /* Adjust as needed */
  left: 1.5em; /* Adjust as needed */
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(97, 97, 97, 0.2); /* Add shadow for better visibility */
  max-width: 12em;
  letter-spacing: 9px;
}

/* How it Works */
.how-it-works-text {
  text-align: center;
  margin: 30px 0;
}

.how-it-works-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1250px;
  margin: 50px auto;
  text-align: center;
}

.column {
  flex: 1;
  max-width: 400px;
  margin: 30px;
}

.column img {
  width: 110px;
  height: 110px;
  max-width: 100%;
}

/* Why it's Important */
.why-its-important {
  margin: 35px auto;
  background-color: var(--secondary-color);
  padding: 30px;
  margin: 30px auto;
  text-align: center;
}

.why-its-important-content {
  max-width: 1150px;
  margin: 0 auto;
}

/* How can we help you */
.how-can-we-help-you {
  margin: 35px auto;
  text-align: center;
  padding: 30px;
  margin: 30px auto;
  text-align: center;
}

.how-can-we-help-you-content {
  max-width: 1150px;
  margin: 0 auto;
}

/* Footer*/
.footer {
  background-color: var(--primary-color);
  padding: 30px 0;
}

.footer {
  color: white; /* White font color */
  text-align: center; /* Center align text */
  font-family: "Jost", sans-serif; /* Use Inter font */
}

@media (max-width: 768px) {
  .landing-image {
    height: 40vh;
  }

  .how-it-works-columns {
    flex-direction: column;
    align-items: center;
  }

  .column {
    max-width: 100%;
  }
}
