body {
  margin: 0;
  padding: 0;
}

.load-management h1 {
  color: var(--font-color);
  font-family: "Inter", sans-serif;
  font-size: 2.2em;
  font-weight: 700;
  text-align: left;
  margin-left: 20px;
}

.load-management p {
  margin-bottom: 2em;
  text-align: left;
  margin-left: 20px;
}

.load-management-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e1e5ec;
  z-index: -1;
}

.load-management {
  margin-top: 2em;
  text-align: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

.PageHeader {
  margin-left: 20px;
  font-size: 2.2em;
  font-weight: 700;
  color: var(--font-color);
  text-align: left;
}

.LoadManagement .PageText {
  margin-top: 1em;
  margin-left: 6em;
  font-size: 20px;
}

table.LoadTable {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 20px;
}

table.LoadTable td {
  width: 250px;
  height: 200px;
  background-color: white;
  border-radius: 12px;
  flex-direction: column;
}

table.LoadTable div.Load-Head {
  font-size: 28px;
  text-align: center;
  margin-bottom: 10px;
}

table.LoadTable div.Load-Value {
  font-size: 36px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

table.LoadTable button:hover {
  cursor: pointer;
}

table.LoadTable button.Edit,
table.LoadTable button.Delete,
table.LoadTable button.View {
  border-radius: 50px;
  font-size: 16px;
  border: none;
  color: white;
  margin-top: 10px;
}

table.LoadTable button.Edit,
table.LoadTable button.Delete {
  width: 100px;
  height: 30px;
  margin-right: 10px;
}

table.LoadTable button.View {
  width: 210px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--view-button-color);
}

table.LoadTable button.Edit {
  background-color: var(--edit-button-color);
}

table.LoadTable button.Delete {
  background-color: var(--delete-button-color);
}

.Display {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

button.Add {
  font-size: 32px;
  border-radius: 100%;
  background-color: #57007b;
  border: none;
  color: white;
  margin-left: 20px;
  width: 50px;
  height: 50px;
}

.LoadManagement button.Add:hover {
  cursor: pointer;
}

div.Display span.AddText {
  font-size: 20px;
  margin-left: 1em;
  font-weight: bold;
}