body{
    margin: 0;
    background-color: #F1F1FA;
}

.LoadManagement .main{
    margin-top: 2em;
    margin-left: 5em;
    margin-right: 5em;
}

.LoadManagement .PageHeader{
    margin-left: 3.5em;
    font-size: 36px;
    font-weight: bold;

}

.LoadManagement .PageText{
    margin-top: 1em;
    margin-left: 6em;
    font-size: 20px;
}

table.LoadTable{
    border-collapse: separate; 
    border-spacing: 150px 30px;
}

.LoadManagement table.LoadTable td{
    width: 250px;
    height: 200px;
    background-color: white;
}
.LoadManagement table.LoadTable div.Load-Head{
    margin-top: 0;
    font-size: 28px;
    text-align: center;
}

.LoadManagement table.LoadTable div.Load-Value{
    font-size: 48px;
    text-align: center;
    font-weight: bold;;
    margin-top: 5px;
}

.LoadManagement table.LoadTable div.Load-Value{
    font-size: 36px;
    text-align: center;
    font-weight: bold;
}

.LoadManagement table.LoadTable button:hover{
    cursor: pointer;
}
.LoadManagement table.LoadTable button.Edit{
    border-radius: 50px;
    background-color: #AEF89C;
    border: none;
    color: white;
    width:100px;
    height:30px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
}

.LoadManagement table.LoadTable button.Delete{
    border-radius: 50px;
    background-color: #F97171;
    border: none;
    color: white;
    margin-top: 10px;
    width:100px;
    height:30px;
}

.LoadManagement table.LoadTable button.View{
    border-radius: 50px;
    background-color: #078EE0;
    border: none;
    color: white;
    width:210px;
    height:50px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.LoadManagement .Display{
    width:100vw;
}

.LoadManagement button.Add{
    font-size: 32px;
    border-radius: 100%;
    background-color: #57007B;
    border: none;
    color: white;
    margin-left: 17em;
    width: 50px;
    height: 50px;
}

.LoadManagement button.Add:hover{
    cursor: pointer;
}

.LoadManagement span.AddText{
    font-size: 24px;
    margin-left: 1em;
    font-weight: bold;
}