.body.Schedule{
    margin: 0;
    background-color: #F1F1FA;
    overflow: hidden;
}

.Schedule .main{
    margin-top: 2em;
    margin-left: 5em;
    margin-right: 5em;
}

.Schedule div.main div.PageHeader{
    margin-left: 3.5em;
    font-size: 36px;
    font-weight: bold;
}

.Schedule div.main div.ViewStyle{
    Margin-left: 35em;
}

.Schedule div.main div.ViewStyle button.Option{
    width: 80px;
    text-align: center;
    margin: 1px 1px 1px 1px;
    background-color: none;
    border: none;
    font-size: 20px;
}

.Schedule div.main div.ViewStyle button.Option:hover{
    cursor: pointer;
    border: solid;
    border-radius: 25px;
}

.Schedule div.main div.ViewStyle button.Item1 {
    color: white;
    background-color: #57007B;
    border-radius: 25px;
}

.Schedule div.main div.ViewStyle button.Item2 {
    color: black;
    background-color: #F1F1FA;
    border-radius: 0px;
}
