body.Body div.Mainbody {
  display: flex;
}

b {
  /* used for event dates/times */
  margin-right: 3px;
}

.loading {
  font-size: 48px;
  align-self: center;
  margin-top: 5em;
  margin-left: 12em;
}

.Sidebar {
  display: flex;
  margin-top: 100px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.Schedule-sidebar {
  width: 180px;
  line-height: 1.5;
  background: #eaf9ff;
  border-right: 1px solid #d3e2e8;
  padding-bottom: 0px;
  border-style: solid;
}

.Schedule-sidebar-section {
  padding: 1em;
  padding-top: 0px;
  border-right: 1px;
}

.Schedule-sidebar-section div.fc-event {
  margin-top: 5px;
  text-align: center;
  width: 100px;
  border: 1px;
  border-style: solid;
  margin-left: 25px;
  background-color: bisque;
  user-select: none;
}

.Schedule-sidebar button.recur {
  margin-left: 10px;
  font-size: 14px;
  height: 30px;
  width: 160px;
  background-color: bisque;
}

.Schedule-sidebar button.recur:hover {
  cursor: pointer;
}

.Schedule-sidebar dialog.modal {
  max-width: 800px;
  min-width: 500px;
  background-color: rgb(161, 196, 227);
}

.Schedule-sidebar dialog.modal span.Title {
  padding-left: 18em;
  padding-right: 18em;
  border-style: solid;
  border-radius: 1px;
  font-size: 16px;
  background-color: white;
}

.Schedule-sidebar dialog.modal button.exit {
  font-size: 18px;
  font-weight: bold;
  background-color: none;
  background: none;
  width: 1em;
  position: absolute;
  top: 0.5em;
  right: 0.6em;
  height: 1.5em;
  text-align: left;
  align-self: center;
}

.Schedule-sidebar dialog.modal button.exit:hover {
  cursor: pointer;
}

.Schedule-sidebar dialog.modal div.info {
  background-color: white;
  margin-top: 1em;
  border-style: solid;
  border-radius: 1px;
  width: 56.5em;
  height: 350px;
}

.Schedule-sidebar dialog.modal div.info div.q1,div.q2,div.q3,div.q4,div.q5 {
  margin-top: 0.4em;
  margin-right: 15em;
  font-size: 16px;
  text-align: right;
  margin-bottom: 1em;
}


.Schedule-sidebar dialog.modal div.msg {
  width: 100%;
  margin-top: 0.5em;
  text-align: center;
  font-size: 16px;
}
.Schedule-sidebar dialog.modal div.info select.loads {
  position: absolute;
  margin-top: 0px;
  top:65px;
  right: 80px;
  font-size: 16px;
  width: 135px;
  text-align: center;
  margin-bottom: 0px;
}
.Schedule-sidebar dialog.modal input.input1 {
  position: absolute;
  top: 100px;
  right: 80px;
  font-size: 16px;
}
.Schedule-sidebar dialog.modal div.info input.input2 {
  position: absolute;
  top: 140px;
  right: 80px;
  font-size: 16px;
}
.Schedule-sidebar dialog.modal div.info input.input3 {
  position: absolute;
  top: 180px;
  right: 80px;
  font-size: 16px;
}
.Schedule-sidebar dialog.modal div.info input.input4 {
  position: absolute;
  top: 220px;
  right: 80px;
  font-size: 16px;
}

.Schedule-sidebar dialog.modal div.info input.input1, input.input2, input.input3, input.input4 {
  width: 120px;
}

.Schedule-sidebar dialog.modal div.info div.q4{
  margin-right: 12em;
}
.Schedule-sidebar dialog.modal div.info div.day {
  margin-left: 9.9em;
}

.Schedule-sidebar dialog.modal div.info div.day label {
  margin-left: 3em;
  display:inline-block;
}

.Schedule-sidebar dialog.modal div.info div.day input {
  margin-left: 44px;
  width: 20px;
  display: inline-block;
  vertical-align: middle;
}

.Schedule-sidebar dialog.modal div.info label.weekly {
  margin-left: 22em;
}

.Schedule-sidebar dialog.modal div.info label.monthly {
  margin-left: 2em;
}

.Schedule-sidebar dialog.modal div.info button.AddNewEvent {
  margin-left: 22em;
  margin-top: 0em;
  height: 2em;
  background-color: #04aa6d;
  border-radius: 12px;
  border: none;
}

.Schedule-sidebar dialog.modal div.info button.AddNewEvent:hover {
  cursor: pointer;
}
.Calendar {
  flex-grow: 1;
  padding-right: 15em;
}

.fc {
  /* the calendar root */
  max-width: 1100px;
  margin: 0 auto;
}

.Schedule-sidebar div.Optimized {
  margin-top: 1em;
  text-align: center;
  font-size: 16px;
}