@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Jost:wght@300;400;500;700");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
:root {
  --font-color: black;
  --font-color-two: grey;
  --font-color-three: white;
  --navbar-color: #04207b;
  --primary-color: #020f3b;
  --primary-color-two: #044fbe;

  --secondary-color: #e6faa9cf;
  --background-color: #ffffff;

  --login-button: #044fbe;
  --login-button-hover: #124081;

  --card-border-color-two: #012788;
  --add-battery-button: #044fbe;
  --add-battery-button-hover: #124081;
  --edit-battery-button: #044fbe;
  --edit-battery-button-hover: #124081;
  --delete-battery-button: #044fbe;
  --delete-battery-button-hover: #124081;
  --measurements-button-outline: #044fbe;

  --state-of-charge-progress-bar: #7fd761;
  --state-of-health-progress-bar: #7fd761;
  --temperature-icon: #7fd761;
  --charge-fonts: #7fd761;

  /* --state-of-charge-progress-bar: #92ec74; */
  --edit-button-color: #52eb97;
  --delete-button-color: #f97171;
  --view-button-color: #078ee0;

  /* --state-of-charge-progress-bar: #d1f48b;
  --state-of-health-progress-bar: #92ec74;
  --temperature-icon: #92ec74;
  --charge-fonts: #00478f; */
  /* --side-bar-color: #4361ee;
  --edit-button-color: #52eb97;
  --delete-button-color: #f97171;
  --view-button-color: #078ee0;
  --primary-color: #3a0152;
  --primary-color-two: #57007b; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
