@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Jost:wght@300;400;500;700");

:root {
  --font-color: black;
  --font-color-two: grey;
  --font-color-three: white;
  --primary-color: #3a0152;
  --primary-color-two: #57007b;
  --secondary-color: #e6faa9cf;
  --background-color: #ffffff;
  --card-border-color: #badfe7;
  --card-border-color-two: #f0b2f1;
  --card-border-color-three: #6fb3b8;
  --side-bar-color: #4361ee;
  --edit-button-color: #8de078;
  --delete-button-color: #f97171;
  --view-button-color: #078ee0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
