@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Jost:wght@300;400;500;700");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
:root {
  --font-color: black;
  --font-color-two: grey;
  --font-color-three: white;
  --navbar-color: #090c45;
  --primary-color: #3a0152;
  --primary-color-two: #57007b;
  --secondary-color: #e6faa9cf;
  --background-color: #ffffff;
  --card-border-color: #00eed0;
  --card-border-color-two: #4b227a;
  --card-border-color-three: #0197af;
  --card-border-color-four: #750098;
  --card-border-color-five: #00caaf;
  --side-bar-color: #4361ee;
  --edit-button-color: #8de078;
  --delete-button-color: #f97171;
  --view-button-color: #078ee0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
